* {
  outline: 1px solid tomato;
}

:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #2e373b;
  --expo-color: #f6404f;
  --header-vertical-size: 76px;
}

body {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.container {
  margin: 0 auto;
  max-width: 1142px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h-h-back {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/bgc.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* --- Header --- */

header > .container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--primary-text-color);
}

.header-nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: 72px;
}

.nav-item:not(:last-child) {
  margin-right: 47px;
}

.nav-link {
  font-size: 16px;
  line-height: 1.35;
  text-align: center;
}

.nav-link:hover {
  text-decoration-line: underline;
  color: #ffc41e;
}

.nav-list {
  margin-right: 90px;
}

.lang {
  width: 172px;
  font-size: 16px;
  line-height: 1.35;
  text-align: right;
}

/* --- Hero --- */

.hero > .container {
  display: flex;
  padding-top: 184px;
}

.hero-left {
  width: 535px;
  margin-right: 37px;
}

.hero-title {
  margin-bottom: 46px;

  font-family: Raleway, sans-serif;
  font-size: 64px;
  line-height: 1.6;
  text-transform: uppercase;
}

.hero-after-title {
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 1.4;
}

.hero-link {
  display: block;
  font-size: 16px;
  line-height: 1.35;
}

.small-arrow {
  fill: currentColor;
}

.hero-link span {
  padding-left: 10px;
}

.hero-link:hover {
  text-decoration-line: underline;
  color: #ffc41e;
}

.hero-right {
  width: 540px;
  padding-top: 120px;
  padding-bottom: 67px;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
}

.color-item {
  flex-basis: calc((100% - 30px) / 2);
  height: 148px;
  padding: 30px 40px;
}

.color-item:nth-last-child(-n + 2) {
  height: 175px;
}

.color-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.color-title {
  margin-bottom: 15px;

  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.color-link {
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.35;
}

.color-link span {
  padding-left: 10px;
}

.color-link:hover {
  text-decoration-line: underline;
  color: #ffc41e;
}

.color-item.yellow .color-link:hover {
  text-decoration-line: underline;
  color: #000000;
}

.blue {
  background: #2378fc;
}

.green {
  background: #30bcc9;
}

.yellow {
  background: #ffc41e;
}

.red {
  background: #f6404f;
}

.color-item:nth-child(-n + 2) {
  margin-bottom: 30px;
}

/* --- Info --- */

.section.info {
  background-color: #2378fc;
}

.info-list {
  display: flex;
}

.info-item {
  flex-basis: calc((100% - 330px) / 4);
}

.info-item:not(:last-child) {
  margin-right: 110px;
}

.info-subtitle {
  margin-bottom: 30px;

  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.links-item:not(:last-child) {
  margin-bottom: 15px;
}

.links-item-link {
  font-size: 16px;
  line-height: 1.35;
}

.links-item-link:hover,
.links-item-link:focus {
  text-decoration-line: underline;
  color: #ffc41e;
}

/* --- Expos --- */

.section.expos {
  background-color: #ffc41e;
}

.section.expos img {
  display: block;
}

.expos-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.expos-title {
  font-family: Raleway, sans-serif;

  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #2e373b;
}

.expos-title-link {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.3;
  text-align: right;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  color: #2e373b;
}

.expos-title-link span {
  display: inline-block;
  padding-left: 15px;
  color: #2e373b;
}

.big-arrow {
  fill: currentColor;
}

.expos-title-link:hover,
.expos-title-link:hover span {
  color: #ffffff;
  text-decoration-line: none;
}

.expos-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -40px;
}

.expos-item {
  /* flex-basis: calc((100% - 60px) / 3); */
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 40px;
}

.expos-thumb {
  padding-top: 20px;
}

.card-date {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.35;
  color: var(--secondary-text-color);
}

.card-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--expo-color);
}

.card-desc {
  font-size: 16px;
  line-height: 1.35;
  color: var(--secondary-text-color);
}

/* --- News --- */

.section.news {
  background-color: #faf3e3;
}

.container.news {
  display: flex;
  align-items: center;
}

.container.news img {
  display: block;
}

.news-left-item:first-child {
  margin-bottom: 59px;
}

.right-cont-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.news-title {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
}

.news-link {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  color: var(--secondary-text-color);
}

.news-right-item {
  display: flex;
}

.news-right-item:not(:last-child) {
  margin-bottom: 30px;
}
